body {
  height: 100%;
}

body {
  color: #951D0F;
  background-color: #FFF9F5;
}

.card {
  border-color: #C06055;
  background-color: #F6E7DD;
}

.btn {
	background: #FAF1EB;
	border-color: #C06055;
	color: #951D0F;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn {
    color: #951D0F;
    background-color: #F6E7DD;
    border-color: #285e8e; /*set the color you want here*/
}